@mixin pointer {
  cursor: pointer;
}

a{
  text-decoration: none;
  color: initial;
  cursor: pointer;

  &:hover{
    filter: brightness(120%);
  }
}

path:hover{
  fill: rgba(0, 0, 0, 0.1);
  transition: 200ms;
  @include pointer;
}

.zab{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 2px;
}

.zab-elem{
  background: white;
  border: 1px solid #4d4d4d;
  transition: 100ms;
  margin: 2px;

  &:hover{
    cursor: pointer;
    background:rgba(255,255,255,0.8);
  }

  &:active{
    background:rgba(255,255,255,0.5);
  }
}

.korona{
  @extend .zab-elem;
  width: 40px;
  height: 40px;
}

.korzen{
  @extend .zab-elem;
  width: 30px;
  height: 40px;
}


.cwiartka{
    display: flex;
}
  .cw1{
    @extend .cwiartka;
    background: #bfc0f7;
    flex-direction: row-reverse;
  }
    .cw2{
    @extend .cwiartka;
    background: #f47b7b;
  }
  .cw3{
    @extend .cwiartka;
    background: #dbf8be;
    flex-direction: row-reverse;
  }
    .cw4{
    @extend .cwiartka;
    background: #da96ba;
  }

.szczeka{
 background: #a7c2ad;
  display: flex;
  width: 100%;
  user-select: none;
   
    .zab{
    flex-direction: column-reverse;
  }
}

.zuchwa{
  background: #b0a4c6;
  display: flex;
  width: 100%;
  user-select: none;
}

.rozpoznania{
display: flex;

  .rozp-kafelek{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    
    &:hover{
       cursor: pointer;
       color: #b9b9b9;
       filter: brightness(1.2);
       -ms-filter: brightness(1.2);
       -webkit-filter: brightness(1.2);
    }
  }
}
    .prochnica{
      background: #ff1c1c;
    }

    .kamien{
      background: #9e9e9e;
    }




.App {
  text-align: center;
  .logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .intro {
    font-size: large;
  }
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 180px;
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vertical-menu{
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}