*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background: #f0f0f0;
}

div{
  &:focus{
    outline:none;
  }
}

@mixin pointer {
  cursor: pointer;
}

@mixin boxShadow($right:0, $down:1px, $blur:2px, $opa: 0.3, $inset:false){
   @if $inset {
    -webkit-box-shadow:inset $right $down $blur 0 rgba(0,0,0,$opa);
    -moz-box-shadow:inset $right $down $blur 0 rgba(0,0,0,$opa);
    box-shadow:inset $right $down $blur 0 rgba(0,0,0,$opa);
  } @else {
    -webkit-box-shadow: $right $down $blur 0 rgba(0,0,0,$opa);
    -moz-box-shadow: $right $down $blur 0 rgba(0,0,0,$opa);
    box-shadow: $right $down $blur 0 rgba(0,0,0,$opa);
  }
}

.material-knt
{
  @include boxShadow();
  padding: 10px;
  margin: 10px auto;
  background: #ffffff;
  max-width: 1080px;
  display: flex;

  &:hover{
  }
}

.btn{
  cursor: pointer;
}

.topbar{
  @extend .material-knt;
  justify-content: space-between;
}

.rozpo{
  width: 20px;
  height: 20px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  display: none;
}

.opcje-btn{
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
  display: none;
}

.modalDialog > div{
  @extend .material-knt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 100px;
}

.oknoOpcji{
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: initial;
  cursor: pointer;

  &:hover{
    filter: brightness(120%);
  }
}

path:hover{
  fill: rgba(0, 0, 0, 0.1);
  transition: 200ms;
  @include pointer;
}

.zab{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 2px;
}

.zab-elem{
  background: white;
  border: 1px solid #161616;
  transition: 100ms;
  margin: 2px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: #747474;

  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    background: rgba(0,0,150,0.1);
  }

  &:active{
     @include boxShadow($inset:true);
    transform: scale(0.99)
  }
}

.diagram{
  @extend .material-knt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.korona{
  @extend .zab-elem;
  width: 40px;
  height: 40px;
}

.korzen{
  @extend .zab-elem;
  width: 30px;
  height: 40px;
}


.cwiartka{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 5px 15px;

    .zeby{
      display: flex
    }

    .kod{
      padding: 5px;
      font-weight: bold;
      opacity: 0.2;
      transition: 150ms;

      &:hover{
        cursor: pointer;
        opacity: 0.4;
        transform: scale(1.3);
      }
      
      &:active{
        transform: scale(1.1);
      }
    }

     
}
  .cw10{
    @extend .cwiartka;
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);

     .zeby{
        flex-direction: row-reverse;
    }
  }
    .cw20{
    @extend .cwiartka;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .cw30{
    @extend .cwiartka;
    flex-direction: column-reverse;
  }
    .cw40{
    @extend .cwiartka;
    flex-direction: column-reverse;
    border-right: 1px solid rgba(0,0,0,0.1);
     .zeby{
        flex-direction: row-reverse;
    }
  }

.szczeka{
  @extend .center-flex;
  user-select: none;
  width: 100%;

    .zab{
    flex-direction: column-reverse;
  }
}

.zuchwa{
  @extend .center-flex;
  flex-direction: row-reverse;
  width: 100%;
  user-select: none;
}

.rozpoznania{
display: flex;

  .rozp-kafelek{
    @extend .center-flex;
    width: 30px;
    height: 30px;
    user-select: none;
    border: 1px solid rgba(0,0,0,0.2);
    background: #fff;
    transition: 100ms;
    margin: 2px;

    &:hover{
       cursor: pointer;
       color: #b9b9b9;
       filter: brightness(1.2);
       -ms-filter: brightness(1.2);
       -webkit-filter: brightness(1.2);
    }
  }
}

  .aktw-rozp-label{
    @extend .material-knt;
      span{
        font-weight: bold;
      }
  }

    .prochnica{
      background: #ff1c1c !important;
    }

    .kamien{
      background: #9e9e9e !important;
    }




.App {
  text-align: center;
  .logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .intro {
    font-size: large;
  }
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 180px;
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vertical-menu{
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.bordered{
  padding: 10px;
  border: 1px solid #333333;
}

// ContextMenu
.react-contexify {
  position: fixed;
  opacity: 0;
  user-select: none;
  background-color: #ffffff;
  overflow-x: hidden;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0 10px 20px, #eeeeee 0 0 0 1px;
  padding: 5px 0; }
  .react-contexify__separator {
    float: left;
    width: 100%;
    height: 1px;
    cursor: default;
    margin: 4px 0;
    background-color: rgba(0, 0, 0, 0.2); }
  .react-contexify__item {
    cursor: pointer; }
    .react-contexify__item:not(.react-contexify__item--disabled):hover .react-contexify__item__data {
      color: white;
      background-color: #4393e6; }
    .react-contexify__item--disabled {
      cursor: default;
      opacity: .5; }
    .react-contexify__item__data {
      width: 100%;
      min-width: 140px;
      padding: 6px 12px;
      display: inline-block;
      text-align: left;
      white-space: nowrap;
      color: #333; }
    .react-contexify__item__icon {
      font-size: inherit;
      margin-right: 5px; }

.react-contexify__theme--dark {
  padding: 6px 0;
  background-color: rgba(40, 40, 40, 0.98);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4), 0 0 0 1px #222; }
  .react-contexify__theme--dark .react-contexify__separator {
    background-color: #eee; }
  .react-contexify__theme--dark .react-contexify__item__data {
    color: #ffffff; }
  .react-contexify__theme--dark .react-contexify__item__icon {
    margin-right: 8px;
    width: 12px;
    text-align: center; }

.react-contexify__theme--light {
  padding: 6px 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2), 0 0 0 1px #eee; }
  .react-contexify__theme--light .react-contexify__separator {
    background-color: #eee; }
  .react-contexify__theme--light .react-contexify__item:not(.react-contexify__item--disabled):hover .react-contexify__item__data {
    color: #4393e6;
    background-color: #E0EEFD; }
  .react-contexify__theme--light .react-contexify__item__data {
    color: #666; }
  .react-contexify__theme--light .react-contexify__item__icon {
    margin-right: 8px;
    width: 12px;
    text-align: center; }

@keyframes react-contexify__popIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes react-contexify__popOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
.react-contexify__will-enter--pop {
  animation: react-contexify__popIn 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.2); }

.react-contexify__will-leave--pop {
  animation: react-contexify__popOut 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.2); }

@keyframes react-contexify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes react-contexify__zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.react-contexify__will-enter--zoom {
  animation: react-contexify__zoomIn 0.4s; }

.react-contexify__will-leave--zoom {
  animation: react-contexify__zoomOut 0.4s; }

@keyframes react-contexify__fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes react-contexify__fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.react-contexify__will-enter--fade {
  animation: react-contexify__fadeIn 0.3s ease; }

.react-contexify__will-leave--fade {
  animation: react-contexify__fadeOut 0.3s ease; }

@keyframes react-contexify__flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg); }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }
@keyframes react-contexify__flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
.react-contexify__will-enter--flip {
  backface-visibility: visible !important;
  animation: react-contexify__flipInX 0.65s; }

.react-contexify__will-leave--flip {
  animation: react-contexify__flipOutX 0.65s;
  backface-visibility: visible !important; }

/*# sourceMappingURL=ReactContexify.css.map */